
<section>
    <div class="filter">
        <h2>Popular movies</h2>
    <app-filter></app-filter>
    </div>
    <div class="vr-line">
    </div>
    <div class="all-movies">
        <div class="movie-card">
            <div class="image">
                <img src="" alt="">
            </div>
            <div class="movie-details">
                 <p> the holiday  approaches terrifier fhtdhcfb jhhtdgf hdtd</p>
                <span>3-5-2024</span>
            </div>
        </div>
          
       
   
      
       

    </div>
</section>