<header>
  <nav>
    <div class="left">
      <div class="logo">
        <svg
          width="35px"
          height="35px"
          viewBox="0 0 192 192"
          xmlns="http://www.w3.org/2000/svg"
          xml:space="preserve"
          fill="none"
          stroke="#ffffff"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="m88.278 49.408 82.223 49.333-126.074 71.26V22h21.925v109.63l60.298-32.89-38.37-21.926Z"
              style="
                fill: none;
                fill-opacity: 1;
                stroke: #e50a15;
                stroke-width: 12;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-miterlimit: 5;
                stroke-dasharray: none;
                stroke-opacity: 1;
              "
            ></path>
          </g>
        </svg>
        <p>film <span>studio</span></p>
      </div>
      <ul>
        <li [routerLink]="['/home']" [routerLinkActive]="'active'">Home</li>
        <li [routerLink]="['/home1']" [routerLinkActive]="'active'">Movies</li>
        <li [routerLink]="['/home2']" [routerLinkActive]="'active'">TV Shows</li>
        <li [routerLink]="['/home3']" [routerLinkActive]="'active'">My List</li>
      </ul>
    </div>
    <div class="right">
      <div class="search-box">
        <div class="icon">
          <svg
            fill="#e50a15"
            height="18px"
            width="18px"
            version="1.1"
            id="Capa_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 490.4 490.4"
            xml:space="preserve"
            stroke="#e50a15"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <g>
                <path
                  d="M484.1,454.796l-110.5-110.6c29.8-36.3,47.6-82.8,47.6-133.4c0-116.3-94.3-210.6-210.6-210.6S0,94.496,0,210.796 s94.3,210.6,210.6,210.6c50.8,0,97.4-18,133.8-48l110.5,110.5c12.9,11.8,25,4.2,29.2,0C492.5,475.596,492.5,463.096,484.1,454.796z M41.1,210.796c0-93.6,75.9-169.5,169.5-169.5s169.6,75.9,169.6,169.5s-75.9,169.5-169.5,169.5S41.1,304.396,41.1,210.796z"
                ></path>
              </g>
            </g>
          </svg>
        </div>
        <input type="text" placeholder="find movie" />
      </div>
    </div>
  </nav>
</header>
